.dev-icon {
  font-size: 110px;
  margin:15px;
  padding:15px;
  display:inline-block;
}

.hero-page {
  margin: -8px;                     
  padding:10px;
  height:100vh;
  width:100%;
  background-image: url("https://unsplash.it/1250/800?image=39");
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
}

/*39*/
/*119*/

.skills-section {
  height:70vh;
}

.projects-section {
  background-color: #eee;
  width:100%;
  margin: -8px;
}

.contact {
  height:30vh;
  width:100%;
  margin: -8px;
}

.hero-font {
  margin:10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 40px;
  opacity: .6;
}

.hero-font-add-items {
  display: none;
  margin:10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 40px;
  opacity: .6; 
  /*float:right;*/

}

.lower-left {
  position:absolute
  width:400px;
  height:400px;
  /*float: right;*/
}

.ian-pic {
  height:300px;
  width:250px;
  border-radius: 150px;
  margin:auto;
  margin:5% 40%;
  opacity: .8;
}

.section-title {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  width:130px;
  text-align: center;
  margin:auto;
  margin-top:70px;
  border-bottom: 2px solid ;
}

.skills-container {
  width:80%;
  margin:70px auto;
  text-align: center;
}

.projects-container {
  width:80%;
  margin:70px auto;
  text-align: center;
  /*border:1px solid;*/
}

.project {
  width:450px;
  display: inline-block;
  margin:20px;
}

.project-image {
  height:250px;
  width:350px;
  box-shadow: 3px 3px 3px #888888;
  border-radius:5px;
}

.contacts-container {
  margin: 60px auto;
  width:80%;
  text-align: center;
}


.project-link:hover {
  opacity: 0.9;
}

.contact-link {
  height:150px;
  width:150px;
  margin:auto;
  display: inline-block;
  
}

.contact-link i {
  color:black;
}

.contact-link i:hover {
  background-color: lightgrey;
  border-radius:20px;
  opacity: 0.8;
}

